<style><!--

table {
  font-size: 80%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  width: 1100px;
}

th {
  background: #CCC;
}
--></style>
<%# hmc_name_old and hmc_name are variables to manage changes in background, when name of HMC name is changing, it is discovered by comparing hmc_name_old and hmc_name %>
<% hmc_name_old = nil
  background = '#CCC'
%>
<h3>HMC issues</h3>

<p>Data are taken from output of 'lssvcevents -t hardware --filter "status=open"' <% if report_type == "callhome" %> and filtered only events with callhome_intended == 'true'  <% end %></p>
<table>
<tr><th>HMC</th><th>Last event time</th><th>problem number</th><th>PHM</th><th>Reference code</th><th>sys name</th><th>Failing mtms</th><th>text</th></tr>
<% events2.each do |entry| %>
  <% if entry.hmcs_name.join(',') != hmc_name_old
       background == '#CCC' ? background = '#FFF' : background = '#CCC'
     end %>
  <tr style="background: <%= background %>;">
    <td><%= entry.hmcs_name.join(',') %></td>
    <td><%= entry.last_time %></td>
    <td><%= entry.problem_num %></td>
    <td><%= entry.pmh_num_nice %></td>
    <td>
      <% if links.key?(entry.refcode) %>
        <a href="<%= links[entry.refcode][:link] %>"> <%=  entry.refcode %>  </a>
      <% else %>
          <%= entry.refcode %>
        <% end %>
    </td>
    <td><%= entry.sys_name %></td>
    <td><%= entry.failing_mtms %></td>
    <td><%= entry.text %><% if links.key?(entry.refcode) %> (hint:<%= links[entry.refcode][:hint] %>) <% end %></td>
  </tr><% hmc_name_old = entry.hmcs_name.join(',') %><% end %>
</table>

<% if links.count > 0 %><p>Links and hints are taken from file <%= Socket.gethostname %>:<%= linksfilewhole  %></p> <% end %>